    <h1>
        <a href="/">Wrath of the Lich King gems</a></h1>
    <hr />
    <h1>
        Burning Crusade gems</h1>
    <h2>
        Meta Gems</h2>
    <div>
        <ul>
          <% @metaGems.each do |g| %>
            <li><a href="http://www.wowhead.com/?item=<%= g['id'] %>"><%= g['name'] %></a></li>
          <% end %>
        </ul>
    </div>
    <h2>
        Rare gems
    </h2>
    <div>
        <ul>
          <% @rareGems.each do |g| %>
            <li><a href="http://www.wowhead.com/?item=<%= g['id'] %>"><%= g['name'] %></a></li>
          <% end %>
        </ul>
    </div>
    <h2>
        Epic gems
    </h2>
    <div>
        I can do any outland epic cut. <a href="http://www.wowhead.com/?items=3&filter=qu=4;minle=70;maxle=70;cr=86;crs=7;crv=0">
            Click here</a> for a complete list.
    </div>