
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>What Austin can make</title>
    <link rel="Stylesheet" type="text/css" href="/Style.css" />

    <script src="http://www.wowhead.com/widgets/power.js" type="text/javascript"></script>

</head>
<body>
    <h1>
        What Austin can make:
    </h1>
    <%= yield %>
</body>
</html>
